html, body{
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    z-index: 1;
}

.root-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.459);
}

.child-panel {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 80px;
    width: 83%;
    position: absolute;
    left: 300px;
}

/* ----------- Sidebar Design---------------------------- */
.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 890px;
    width: 16%;
    overflow-x: hidden;
    padding: 2px;
    background-color:rgb(30, 62, 73);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    color: rgb(255, 255, 255);
    
}
.sidebar-footer {
    width: 90%;
    opacity: 90%;
    font-size: small;
}

.side-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 300px;
}
.side-link{
    width: 100%;
    padding: 20px 0 20px 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color:transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.side-link > div{
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.side-link:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(8, 44, 64);
}

.side-link-active{
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 20px 0 20px 0;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: rgb(8, 44, 64);
}

.side-link-active > div{
    display: flex;
    gap: 20px;
    margin-left: 20px;
}
.profile-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 15%;
     /*background-color: white; */
    justify-content: space-around;
}
.profile-pic {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: orangered;
}

/*---- Shift page design */

.shift-list-view{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap;
}

a{
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #F4F4F4;
}


/** TabBar design*/

.tab-bar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    position: sticky;
    background-color: rgb(255, 255, 255);
    top: 70px;
    z-index: 1;
}

/*ShiftCard design*/
.shift-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.828);
    width: 300px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(196, 196, 196);
}
.card-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
    padding: 1em;
    border: 0.3px solid rgb(0, 112, 126);
    border-radius: 10px;
    background-color: rgba(1, 95, 106, 0.898);
    color: white;
}
.card-period{
    font-size: small;
}

.card-body{
    padding: 30px;
}
.card-footer{
    display: flex;
    gap: 5px;
    position: relative;
    bottom: 0;
}

/* Tag Design */
.tag{
    border: 1px solid;
    border-radius: 5px;
}
.tag-ACTIVE{
    background-color: rgb(0, 106, 55);
    color: white;   
}
.tag-SMALL{
    padding: 0.2rem;
    font-size: x-small;
}

.tag-EXPIRED{
    background-color: rgb(132, 132, 132);
    color: white; 
}


/*Modal css*/
.Modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: white;
    height: fit-content;
    padding: 100px;
}

.modal_overlay{
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .8);
    z-index: 1000;
    overflow-y: auto;
}

/*Shfit Form css*/
.shift-form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    width: 50%;
}
input.text-input{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.shift-form .date-input{
  position: relative;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.shift-form .textarea-input{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 8px 0;
}

.error-msg{
    color: red;
}

/* Workers list page*/
.workers-list-view{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
}

.inline-search-form{
    display: flex;
    flex-direction: row;
}

/*Employee list table*/
.employee-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.employee-list-headers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 80, 112, 0.353);
}
.employee-list-headers > div{
    padding: 10px;
    font-weight: bold;
    width: 100%;
}
.employee-list-item{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}
.employee-list-item > div{
    width: 100%;
    text-align: left;
}
.employee-list-item:hover{
    background-color: rgb(0, 85, 145);
    color: white;
}

/*  Buttons CSS */
.btn-sm{
    
}
.btn-primary-sm {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: rgb(30, 62, 73);
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  max-width: 480px;
  min-height: 35px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}
.btn-primary-sm:hover { 
  background-color: rgba(30, 62, 73, 0.892);
  color: white;
}

.btn-primary-lg{
    align-items: center;
    background-color: rgba(30, 62, 73, 0.875);
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: rgb(251, 251, 251);
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    max-width: 300px;
    min-height: 50px;
    min-width: 150px;
    overflow: hidden;
    padding: 0px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}
.btn-primary-lg:hover{
    background-color: rgba(12, 25, 30, 0.892);
    color: white;
}

.btn-danger-sm{
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: rgb(245, 26, 26);
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    max-width: 480px;
    min-height: 35px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}
.btn-danger-sm:hover,
.btn-danger-sm:focus{
    background-color: rgb(245, 26, 26);
    color: white;
}

/* Search field css*/
.search-input{
    padding: 20px;
    outline: none;
    border: 1px solid rgba(96, 96, 125, 0.155);
    min-width: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.search-input:focus{
    box-shadow: 0px -1px 19px -3px rgba(0,0,0,0.45);
}

/* Select input*/
.select-input{
    padding: 10px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 10px;
}
/*Employee creation form*/
.empl-creation-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    padding: 20px;
}
.empl-form-section{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.empl-form-section > div{
    display: flex;
    margin: 5px;
    justify-content: center;
}
.empl-form-section > div > input{
    margin: 5px;
    border-radius: 10px;
    border: none;
    background-color: #faf9f9;
}

.empl-form-section > div > input:focus{
    outline: none;
    background-color: #ffffff;
}

/*Employee tab's navigation*/
.tab-navigation{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.tab-nav-link{
    width: 100%;
    padding: 12px 0 12px 0;
    text-decoration: none;
    color: rgb(170, 170, 170);
    background-color: rgba(255, 255, 255, 0.858);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.tab-nav-link:hover{
    width: 100%;
    padding: 12px 0 12px 0;
    text-decoration: none;
    color: rgb(30, 62, 73);
}
.tab-nav-link-active{
    width: 100%;
    padding: 12px 0 12px 0;
    text-decoration: none;
    color: rgb(30, 62, 73);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Employee view page header*/
.empl-view-header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
}
.empl-view-header > div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(197, 114, 5);
}
.empl-view-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: auto;
    min-height: 200px;
}

.info-label{
   
    min-width: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info-label label{
    color: #6f6f6f;
    line-height: 2;
}

.general-info-view {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    flex-wrap: wrap;
    gap: 100px;
    padding: 40px;
    border: 1px solid rgba(237, 237, 237, 0.789);
    border-radius: 30px 0px 36px 0px;
    -webkit-border-radius: 30px 0px 36px 0px;
    -moz-border-radius: 30px 0px 36px 0px;
    background-color: white;
}