html, body{
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    z-index: 1;
}

.root-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.459);
}

.child-panel {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 140px;
    width: 84%;
}

/* ----------- Sidebar Design---------------------------- */
.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 890px;
    width: 15%;
    overflow-x: hidden;
    padding: 2px;
    background-color:rgb(30, 62, 73);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    color: rgb(255, 255, 255);
    
}
.sidebar-footer {
    width: 90%;
    opacity: 90%;
    font-size: small;
}

.side-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 300px;
}
.side-link{
    width: 100%;
    padding: 20px 0 20px 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color:transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.side-link:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(8, 44, 64);
}

.side-link-active{
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: rgb(8, 44, 64);
}

.profile-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 15%;
     /*background-color: white; */
    justify-content: space-around;
}
.profile-pic {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: orangered;
}

/*---- Shift page design */
.shift-list-view{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap;
}

a{
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #F4F4F4;
}

/** Button Design **/
.btn-primary{
    color: rgb(0, 123, 238);
    background-color:transparent;
    border-radius: 5px;
    border: 1px solid rgb(0, 123, 238);
    cursor: pointer;
}
.btn-primary:hover{
    background-color:rgb(0, 123, 238);
    color: white;
}


.btn-info{
    color: rgb(3, 133, 140);
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(3, 133, 140);
    cursor: pointer;
}

.btn-info:hover{
    color: white;
    background-color:rgb(3, 133, 140);
}

.btn-warning{
    color: rgb(218, 133, 34);
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(218, 133, 34);
    cursor: pointer;
}

.btn-warning:hover{
    color: white;
    background-color: rgb(218, 133, 34);
}

.btn-danger{
    color: rgb(245, 8, 8);
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(245, 8, 8);
    cursor: pointer;
}

.btn-danger:hover{
    color: white;
    background-color: rgb(245, 8, 8);
}

.btn-success{
    color: rgb(5, 171, 77);
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(5, 171, 77);
    cursor: pointer;
}

.btn-success:hover{
    color: white;
    background-color: rgb(5, 171, 77);
}

.btn-dark{
    color: rgb(55, 55, 55);
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(55, 55, 55);
    cursor: pointer;
}

.btn-dark:hover{
    color: white;
    background-color: rgb(55, 55, 55);
}

/* Button sizes*/
.btn-small{
    padding: 0.4rem;
}
.btn-medium{
    padding: 0.5rem;
    width: auto;
}
.btn-large{
    padding: 1rem;
    width: auto;
}

/** TabBar design*/

.tab-bar{
    display: flex;
    justify-content: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    top: 70px;
    z-index: 1;
    
}

/*ShiftCard design*/
.shift-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.828);
    width: 300px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(196, 196, 196);
}
.card-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
    padding: 1em;
    border: 0.3px solid rgb(0, 112, 126);
    border-radius: 10px;
    background-color: rgba(1, 95, 106, 0.898);
    color: white;
}
.card-period{
    font-size: small;
}

.card-body{
    padding: 30px;
}
.card-footer{
    display: flex;
    gap: 5px;
    position: relative;
    bottom: 0;
}

/* Tag Design */
.tag{
    border: 1px solid;
    border-radius: 5px;
}
.tag-ACTIVE{
    background-color: rgb(0, 106, 55);
    color: white;   
}
.tag-SMALL{
    padding: 0.2rem;
    font-size: x-small;
}

.tag-EXPIRED{
    background-color: rgb(132, 132, 132);
    color: white; 
}


/*Modal css*/
.Modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: white;
    
}

/*Shfit Form css*/
.shift-form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    width: 50%;
}
input.text-input{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.shift-form .date-input{
  position: relative;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.shift-form .textarea-input{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 8px 0;
}

.error-msg{
    color: red;
}

/* Workers list page*/
.workers-list-view{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
}

.inline-search-form{
    display: flex;
    flex-direction: row;
}

/*Employee list table*/
.employee-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.employee-list-headers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 80, 112, 0.353);
}
.employee-list-headers > div{
    padding: 10px;
    font-weight: bold;
    width: 100%;
}
.employee-list-item{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}
.employee-list-item > div{
    width: 100%;
    text-align: left;
}
.employee-list-item:hover{
    background-color: rgb(0, 85, 145);
    color: white;
}
